<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Document Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Request New Document</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Document Type</ion-label>
        <ion-select [(ngModel)]="selectedDocType" placeholder="Select document">
          <ion-select-option value="clearance">Barangay Clearance</ion-select-option>
          <ion-select-option value="indigency">Certificate of Indigency</ion-select-option>
          <ion-select-option value="permit">Business Permit</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Upload Requirements</ion-label>
        <ion-button expand="block" fill="outline" (click)="uploadFile()">
          <ion-icon slot="start" name="cloud-upload"></ion-icon>
          Upload File
        </ion-button>
      </ion-item>

      <ion-button expand="block" (click)="submitRequest()" [disabled]="!selectedDocType">
        Submit Request
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list-header>
    <ion-label>Previous Requests</ion-label>
  </ion-list-header>

  <ion-card *ngFor="let request of requests" (click)="viewRequestDetails(request.id)">
    <ion-item lines="none">
      <ion-icon slot="start" [name]="getDocIcon(request.type)" color="primary"></ion-icon>
      <ion-label>
        <h3>{{ getDocTypeName(request.type) | titlecase }}</h3>
        <p>Requested on {{ request.date | date:'mediumDate' }}</p>
      </ion-label>
      <ion-badge [color]="getStatusColor(request.status)">
        {{ request.status | titlecase }}
      </ion-badge>
    </ion-item>
  </ion-card>
</ion-content>