ion-card {
  margin-bottom: 16px;
  
  ion-item {
    --padding-start: 0;
  }
}

ion-badge {
  float: right;
}

ion-textarea {
  border: 1px solid var(--ion-color-light-shade);
  border-radius: 8px;
  padding: 8px;
  margin-top: 8px;
}